.mainbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:354px;
  }
  
  .pass-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .passclass {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Adjust placeholder color */
  .passclass::placeholder {
    color: #999;
  }
  
.mainbody button {
    margin: 12px;
    width: 85px;
    background-color: #007bff;
    height: 41px;
    border-radius: 12px;
}