/* Styling for the overall container */
.container-productaddwala {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 55vh;
  background-color: #f5f5f5;
}

/* Styling for the 'aa' section  */
.aa {
  display: flex;
  flex-direction: row; /* change to row */
  justify-content: space-between; /* space between items */
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the 'aaa' section */
.aaa {
  display: flex ;
  flex-direction: column;
  align-items: center;
}

/* Styling for buttons (`productbt` and `productcatbt`) */
.productbt,
.productcatbt {
  background-color: #4CAF50;
  color: white;
  margin-top: 46px;
  margin-left: 76px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.productbt:hover,
.productcatbt:hover {
  background-color: #3e8e41;
}

/* Link styling within buttons (optional) */
.productbt a,
.productcatbt a {
  color: white;
  text-decoration: none;
}

/* Styling for the 'aab' section */
.aab {
  text-align: center;
}

/* Image styling */
img {
  max-width: 200px;
}
